---
http_interactions:
- request:
    method: post
    uri: https://app.pennylane.com/api/external/v1/customers
    body:
      encoding: UTF-8
      string: '{"customer":{"customer_type":"company","name":"Tesla","address":"4
        rue du faubourg","postal_code":"75008","city":"Paris","country_alpha2":"FR"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer x0dFJzrOYxeJgzEddjT1agJl1K9T4C-kpjg7qpuKyEs
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version-Expires-At:
      - ''
      Etag:
      - W/"dab42f82a40202c8326bfa4fb8484adf"
    body:
      encoding: UTF-8
      string: '{"customer":{"source_id":"f297a78e-ca38-4486-899d-9faaaacc1cba","customer_type":"company","name":"Tesla","billing_iban":null,"payment_conditions":"30_days","recipient":"","updated_at":"2024-05-19T13:00:03.020927Z","phone":"","reference":"","plan_item":{"number":"411100208","label":"Tesla","enabled":true,"vat_rate":"any","country_alpha2":"any","description":""},"vat_number":"","reg_no":"","emails":[],"billing_address":{"address":"4
        rue du faubourg","postal_code":"75008","city":"Paris","country_alpha2":"FR"},"delivery_address":{"address":"","postal_code":"","city":"","country_alpha2":""},"mandates":[]}}'
  recorded_at: Sun, 19 May 2024 13:00:03 GMT
recorded_with: VCR 6.2.0
