---
http_interactions:
- request:
    method: get
    uri: https://app.pennylane.com/api/external/v1/customers
    body:
      encoding: UTF-8
      string: '{"page":2}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer x0dFJzrOYxeJgzEddjT1agJl1K9T4C-kpjg7qpuKyEs
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version-Expires-At:
      - ''
      Etag:
      - W/"4dc2d3ab080591a64a6e2ed3e9240d20"
    body:
      encoding: UTF-8
      string: '{"total_pages":10,"current_page":2,"total_customers":186,"customers":[{"source_id":"e85a8398-5919-4416-bfd0-c07b31123d00","customer_type":"company","name":"Tesla","billing_iban":null,"payment_conditions":"30_days","recipient":"","updated_at":"2024-05-01T13:09:33.094370Z","phone":"","reference":"","plan_item":{"number":"411100185","label":"Tesla","enabled":true,"vat_rate":"any","country_alpha2":"any","description":""},"vat_number":"","reg_no":"","emails":[],"billing_address":{"address":"4
        rue du faubourg","postal_code":"75008","city":"Paris","country_alpha2":"FR"},"delivery_address":{"address":"","postal_code":"","city":"","country_alpha2":""}},{"source_id":"49525991-a965-4806-88eb-8155ad39c036","customer_type":"company","name":"Tesla","billing_iban":null,"payment_conditions":"30_days","recipient":"","updated_at":"2024-05-01T13:09:00.385178Z","phone":"","reference":"","plan_item":{"number":"411100184","label":"Tesla","enabled":true,"vat_rate":"any","country_alpha2":"any","description":""},"vat_number":"","reg_no":"","emails":[],"billing_address":{"address":"4
        rue du[...]
