---
http_interactions:
- request:
    method: get
    uri: https://app.pennylane.com/api/external/v1/customers
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer x0dFJzrOYxeJgzEddjT1agJl1K9T4C-kpjg7qpuKyEs
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version-Expires-At:
      - ''
      Etag:
      - W/"7293e7b5eed47041cb98f9e5104250d1"
    body:
      encoding: UTF-8
      string: '{"total_pages":10,"current_page":1,"total_customers":186,"customers":[{"source_id":"23f1574c-a1c5-4fb5-a32a-161aa3361a49","customer_type":"individual","name":"John
        Doe","billing_iban":null,"payment_conditions":"30_days","recipient":"","updated_at":"2024-05-19T12:55:00.263745Z","phone":"","reference":"","plan_item":{"number":"411100207","label":"John
        Doe","enabled":true,"vat_rate":"any","country_alpha2":"any","description":""},"first_name":"John","last_name":"Doe","gender":null,"emails":[],"billing_address":{"address":"","postal_code":"","city":"","country_alpha2":"FR"},"delivery_address":{"address":"","postal_code":"","city":"","country_alpha2":""}},{"source_id":"4301fd22-3c11-42c5-b113-5e516b6ca395","customer_type":"individual","name":"John
        Doe","billing_iban":null,"payment_conditions":"30_days","recipient":"","updated_at":"2024-05-19T12:40:20.381488Z","phone":"","reference":"","plan_item":{"number":"411100206","label":"John
        Doe","enabled":true,"vat_rate":"any","country_alpha2":"any","description":""},"first_name":"John","last_name":"Doe","gender":null,"emails":[...]
